{
	"log_file": "/path/to/knime_executor_per_user_starter.log",
	"log_level": "INFO",
	"log_rotation_when": "d",
	"log_rotation_interval": 1,
	"log_rotation_keep": 90,
	"ca_cert_file" : "",
	"rabbitmq_host_name" : "",
	"rabbitmq_virtual_host" : "",
	"rabbitmq_client_user" : "",
	"rabbitmq_client_password" : "",
	"rabbitmq_port" : 5672,
	"rabbitmq_protocol" : "amqp",
	"rabbitmq_queue_name" : "knime-jobs",
	"rabbitmq_exchange" : "knime-server2executorknime-jobs",
	"rabbitmq_routing_key" : "new-work",
	"knime_home" : "/path/to/knime_X.X.X",
	"knime_workspace_parent_folder" : "/path/to/workspaces",
	"max_attempts_executor_start" : 10,
	"seconds_sleep_executor_start" : 3,
	"seconds_sleep_executor_existing" : 0.5,
	"local_knime_user_os_user_mapping" : {}
}