{
	"log_file": "/path/to/wipe_data_knime_users.log",
	"log_level": "INFO",
	"log_rotation_when": "d",
	"log_rotation_interval": 1,
	"log_rotation_keep": 90,
	"workspaces_dir" : "/path/to/workspaces",
	"just_log" : false,
	"paths" : ["/tmp"],
	"delete_days" : 7,
	"exceptions_startwith" : []
}