{
"log_file": "/path/to/wipe_data_knime_repository.log",
"log_level": "INFO",
"log_rotation_when": "d",
"log_rotation_interval": 1,
"log_rotation_keep": 90,
"repository_owner" : "USERNAME",
"just_log" : false,
"paths" : ["/path/to/knime_repo"],
"delete_days" : 7,
"keep_files" : ["workflowset.meta","workflow.svg", "workflow.knime", "settings.xml", ".project", "default_report.rptconfig", "default_report.rptdesign", "workflow-configuration-representation.json", "workflow-configuration.json", "permissions.json", "properties.json", ".licenseState", "repositoryVersion", ".userState", ".savedWithData"],
"exceptions" : []
}